body {
    background-color: #926bae;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

div#text {
    border: 1px solid black;
    background-color: #B398c8;
    min-height: 500px;
}